# Misc
2024-GroupProject_Big_Data.pdf
big-data-project.code-workspace
installs/

# PDFs
2024-GroupProject_Big_Data.pdf
literature/

#DB
deployment/postgres_service/postgres-data/
deployment/cassandra_service/cassandra-data/

#data
data/
development/EDA/images/
development/EDA/new_data.nc
development/EDA/pickled_files/
development/EDA/Sample-Cleaned-Processed-ERA5-82-23-three-hrs.csv
#Temporary Files
*.ipynb_checkpoints
development/model_building/RF_SST_PRED_model/
development/model_building/testing_chunk.csv
deployment/bitnami_spark_cluster_image/RF_SST_PRED_model/
